[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=false
Exec=/opt/firefox/firefox --class "Firefox Developer Edition" %u
Name=Firefox Developer Edition
Comment=The web browser.
Keywords=ff
Icon=/opt/firefox/browser/chrome/icons/default/default128.png
